[submodule "src/audio/ros2_whisper"]
	path = src/audio/ros2_whisper
	url = git@github.com:peterdavidfagan/ros2_whisper.git
[submodule "src/cameras/zed-ros2-wrapper"]
	path = src/cameras/zed-ros2-wrapper
	url = git@github.com:peterdavidfagan/zed-ros2-wrapper.git
	branch = rolling # also work with humble
[submodule "src/cameras/image_pipeline"]
	path = src/cameras/image_pipeline
	url = git@github.com:ros-perception/image_pipeline.git
	branch = humble
[submodule "src/motion_planning/moveit2"]
	path = src/motion_planning/moveit2
	url = git@github.com:peterdavidfagan/moveit2.git
	branch = main
[submodule "src/control/ros2_controllers"]
	path = src/control/ros2_controllers
	url = git@github.com:peterdavidfagan/ros2_controllers.git
	branch = master
[submodule "src/control/ros2_robotiq_gripper"]
	path = src/control/ros2_robotiq_gripper
	url = git@github.com:PickNikRobotics/ros2_robotiq_gripper.git
[submodule "src/control/serial"]
	path = src/control/serial
	url = git@github.com:tylerjw/serial.git
	branch = ros2
[submodule "src/motion_planning/franka_robotiq"]
	path = src/motion_planning/franka_robotiq
	url = git@github.com:peterdavidfagan/franka_robotiq.git
[submodule "src/control/franka_ros2"]
	path = src/control/franka_ros2
	url = git@github.com:peterdavidfagan/franka_ros2.git
	branch = moveit_config_builder
[submodule "src/control/topic_based_ros2_control"]
	path = src/control/topic_based_ros2_control
	url = git@github.com:PickNikRobotics/topic_based_ros2_control.git
[submodule "src/control/ros2_control"]
	path = src/control/ros2_control
	url = git@github.com:peterdavidfagan/ros2_control.git
[submodule "src/mujoco/mujoco_ros_sim"]
	path = src/mujoco/mujoco_ros_sim
	url = git@github.com:peterdavidfagan/mujoco_ros_sim.git
[submodule "src/llm/ros2_DSPy"]
	path = src/llm/ros2_DSPy
	url = git@github.com:peterdavidfagan/ros2_DSPy.git
[submodule "src/grasping/ros2_deep_grasps"]
	path = src/grasping/ros2_deep_grasps
	url = git@github.com:peterdavidfagan/ros2_deep_grasps.git
[submodule "src/grasping/ros2_deep_grasps_interfaces"]
	path = src/grasping/ros2_deep_grasps_interfaces
	url = git@github.com:peterdavidfagan/ros2_deep_grasps_interfaces.git
