@import "./color_schemes/light";

// add custom colours here
$nord-blue: #5E81AC; // can be updated assumed primary author's university color scheme

$link-color: $nord-blue;
$btn-primary-color: $nord-blue;
